[[#group]]
<div class="span8">

    <h1>[[name]]</h1>

    <p>Parent organization: [[#parent]]<a href="[[parentUri]]">[[name]]</a>[[/parent]][[^parent]]not
        available[[/parent]]</p>

    <p>Children organizations: [[#children]] <a href="[[childrenUri]]/[[uri]]">[[name]]</a>
        [[/children]][[^children]]not available[[/children]]</p>
    <hr>
    [[#homepage]]
    <p class="well">[[descriptionPublic]]</p>
    [[#descriptionForMembers]]<p class="well">[[descriptionForMembers]]</p>[[/descriptionForMembers]]
    <p>In this group you are <b>[[#role]][[role]][[/role]][[^role]]visitor[[/role]]</b>
        [[#isAdmin]]
        <button type="button" class="btn btn-small btn-warning" data-toggle="collapse" data-target="#groupParameters">
            Edit
        </button>
        [[/isAdmin]]
    </p>
    [[/homepage]]
    [[#isAdmin]]
    <div id="groupParameters" class="collapse">
        <form class="form-horizontal" action="/api/groups/[[_id]]" method="post">
            <input type="hidden" value="[[csrf]]" name="_csrf"/>
            <input type="hidden" value="PUT" name="_method"/>

            <div class="control-group">
                <label class="control-label" for="descriptionPublic">Description for visitors</label>

                <div class="controls">
                    <textarea class="span10" name="descriptionPublic" id="descriptionPublic">[[homepage.descriptionPublic]]</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="descriptionForMembers">Description for members only</label>

                <div class="controls">
                    <textarea class="span10" name="descriptionForMembers" id="descriptionForMembers">[[homepage.descriptionForMembers]]</textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" name="isOpenToAll" value="1" [[#isOpenToAll]]checked[[/isOpenToAll]] >
                        Group is open - everybody can
                        join it
                    </label>
                    <input type="submit" class="btn btn-success" value="Save">
                    <input type="reset" class="btn btn-warning">
                </div>
            </div>
        </form>

    </div>
    [[/isAdmin]]
    <hr>

    <h3>Recent comments</h3>
    [[#messages]]
    <div class="well well-small clearfix">
        <div class="span3">
            <img src="[[user.gravatar]]" alt="Gravatar of user [[user.username]]"
                 title="Gravatar of user [[user.username]]">

            <p>[[user.username]]</p>
        </div>
        <div class="span9">
            <p>[[createdAt]]</p>
            <hr>
            <p>[[message]]</p>
        </div>
    </div>
    [[/messages]]
    <hr/>
    [[#isMember]]
    <form class="form-inline" action="/api/groups/createMessage/[[_id]]" method="post">
        <input type="hidden" name="_csrf" value="[[csrf]]"/>
        <textarea name="message" rows="3" cols="60" class="span12" placeholder="Send comment to the group"></textarea>
        <input type="submit" value="Send comment" class="btn btn-success btn-large pull-right"/>
    </form>
    [[/isMember]]

    [[^isMember]]
    <form class="form-inline" action="/api/groups/join/[[_id]]" method="post">
        <input type="hidden" name="_csrf" value="[[csrf]]"/>
        <input type="submit" value="Join this group" class="btn btn-success btn-large pull-right"/>
    </form>
    [[/isMember]]


</div>
<div class="span4">
    [[#isMember]]
    <p>You are a member of this group</p>

    <form class="form-inline" action="/api/groups/leave/[[_id]]" method="post" id="formLeave">
        <input type="hidden" name="_csrf" value="[[csrf]]"/>
        <input type="submit" value="Leave this group" class="btn btn-danger"/>
    </form>
    [[/isMember]]

    [[^isMember]]
    <form class="form-inline" action="/api/groups/join/[[_id]]" method="post">
        <input type="hidden" name="_csrf" value="[[csrf]]"/>
        <input type="submit" value="Join this group" class="btn btn-success"/>
    </form>
    [[/isMember]]
    [[#isAdmin]]
    <hr>
    <p>Being a admin, you can invite somebody to this group:</p>

    <form class="form-inline" action="/api/groups/invite/[[_id]]" method="post">
        <input type="hidden" name="_csrf" value="[[csrf]]"/>
        <input type="text" name="username" value="" placeholder="Enter username or email here">
        <input type="submit" value="Invite" class="btn btn-success"/>
    </form>
    [[/isAdmin]]
    <hr>

    <h3>Members</h3>
    [[#members]]
    <img src="[[user.gravatar]]" alt="Gravatar of user [[user.username]]" title="Gravatar of user [[user.username]]"
         class="img-polaroid">
    [[/members]]
</div>
<script type="text/javascript">
    $('#formLeave').submit(function () {
        return window.confirm('Are you sure?');
    });
</script>

[[/group]]

